node_modules/
.gradle-home/
android/.gradle/
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/build/
android/local.properties
android/captures/
android/keystore.properties
android/*.jks
android/*.keystore
KEYSTORE-BACKUP.txt
*.iml
.idea/
.DS_Store
*.apk
*.zip

